

body.work-for-us{
	#purple-people{
		background: white;
	}

	.sub-menu{
		position:relative;

		@include triangle(bottom,12px,$l-grey);
	}

	.scroll{
		position:fixed;
		z-index: 999;

		&:after, &:before{
			display: none;
		}
	}

	.sub-menu ul {
		padding: 1.2em 0 1.0em 0;
	}

	.sub-menu li a{
		width:105%;
	}
	p{
		color:#9e9e9e;
		padding-bottom:4%;
	}

	.discover-header{
		background:$d-purple url('http://ahoia.com/purple-hire-page/images/header-image.jpg');
	}

	a.join-us{
		margin:1em auto 0 auto;
	}
	.join-the-purple-academy{text-align:center;}

}

#benefits, #purple-academy, #purple-people, #purple-life, #hear-from-the-team, .join-the-purple-academy{position:relative; padding: 2.618em 6%;}

.right-column, .left-column{
	width:100%;
	float:left;
}


#benefits{
	background: $l-grey;
	overflow:hidden;
	padding: 2.618em 6%;

	@include triangle(top,12px,white);

	h4{
		text-transform: uppercase;
	}
	
	ul{
		li{
			cursor:s-resize;
			width:100%;
			background:white;
			position:relative;
			height:100%;
			margin:2% 0;
			padding:2%;
			overflow:hidden;
			float:left;

			.benefits-icon{
				width:30%;
				float:left;

				img{
					width:100%;
					padding-right:2%;
					height:auto;
				}
			}

			.benefits-text{
				padding:2%;
				width:70%;
				float: left;
			}
		}
	}
}

#purple-academy{

	.right-column{
		position:relative;

		h5{
			padding:0 0 2% 0;
		}

		ul{
			li{
				position:relative;
				padding:10px 0px 10px 45px;
				font-size: .875em !important;
				color:#9e9e9e;
		

				&:before{
					position:absolute;
					left:0;
					top:0;
					content:"";
					width:40px;
					height:40px;
					background: url('http://ahoia.com/purple-hire-page/images/tick.png') no-repeat;
					background: url('http://ahoia.com/purple-hire-page/images/tick.svg') no-repeat;
				}
			}
		}
	}
	.left-column{
		p{
			&:nth-of-type(2){
				padding-bottom:12%;
			}
		}
	}
}

#purple-life{
	background-color:$d-purple;
	color:white;

	h4{color:white;}

	.full-container{
		clear: both;
		margin-bottom:0px;
		overflow: hidden;
	}

	.left-column{
		p{
			font-size: 1.2em;
		}
	}

	.photo-collage{
		clear: both;
		margin-top:5%;
		img{
			width: 100%;
			height:auto;
		}
	}
}

.join-us-cta{
	padding:0 6%;
	.hire-wrapper{
		position:relative;
		text-align: center;
		padding:26px;
		background-color: white;

		&:after{
			content: "";
			top:0;
			left:4%;
			width:92%;
			height:1px;
			background: $l-grey;
			position:absolute;
		}
	}
}


.join-the-purple-academy{
	background-color:$l-grey;

	@include triangle(top, 12px, #ffffff);
}

#hear-from-the-team{
	position:relative;

	@include triangle(top, 12px, $d-purple);

	.gallery-team-heads-nav{
		width:270px;
		margin:0 auto;
		overflow: hidden;	

 			a{
			width:45px;
			height:45px;
			float:left;
			margin:10px 10px 30px 10px;
			border-radius:100%;
			opacity: 0.4;
			overflow:hidden;

			img{
				width:100%;
				height:auto;
			}
		}
		.active {
			opacity: 1;
		}
	}

	ul{
		li{

			p{
				padding-bottom:12px;
			}
			a{
				color:$blue;
			}

			.slider-wrapper{
				padding:0 20px;
				text-align: center;

				.team-job-role{

					p{font-weight: 700;}

					span{
						font-weight: 700;
						color:black;
					}
				}
			}
		}
	}
}





@media all and (min-width: 480px) {

	.hire-wrapper{
		max-width: 960px;
		margin: 0 auto;
		overflow: hidden;
	}

	.right-column, .left-column{
		padding:2% 4%;
	}

	#purple-academy .hire-wrapper .right-column{
		&:after{
			content: "";
			top:0;
			left:4%;
			width:92%;
			height:1px;
			background: $l-grey;
			position:absolute;
		}
	}

	#purple-academy{
		padding-top:3em;
		padding-bottom:0em;
		background-color:$l-grey;


		.hire-wrapper{
			background-color:white;
			padding-top:2.618em;
		}
	}
	.join-us-cta{
		background: $d-purple;

	}

	.join-the-purple-academy{
		text-align: center;
	}

	
	#benefits{
	
		ul{
			li{
				width:49%;
				margin:1% 2%;
				height:210px;

				&:nth-of-type(2n){
					// background:Red;
					margin-right:0%;
				}

				&:nth-of-type(1n){
					margin-left:0%;
				}

				.benefits-icon{
					width:35%;
				}

				.benefits-text{
					padding:0 2% 2% 2%;
					width:100%;
					float: left;
				}
			}
		}
	}

}

@media all and (min-width:820px){

		body.work-for-us{
			p{
				padding-bottom:2%;
			}
			.join-us-cta .hire-wrapper p{padding-bottom:0% !important;}
		}

		.left-column, .right-column{
			width:50%;
			float:left;
			padding:0% 4%;
		}


		.right-column{
			margin-top:7.1%;

			&:after{
				display: none;
			}
		}


		#purple-academy{
			h4{
				text-align: left;
			}
			.hire-wrapper{
				padding-bottom:4%;
			}
			.right-column{
				margin-top:6.7%;
			}
		}

		#hear-from-the-team{
			.hire-wrapper{
				max-width: 600px;

				.gallery-team-heads-nav{
					width:400px;

			 			a{
						width:80px;
						height:80px;
						float:left;
						margin:10px 10px 30px 10px;
						border-radius:100%;
						-moz-border-radius:100%;
						-webkit-border-radius:100%;
					}
				}
			}
		}

		#purple-life{
			background: $d-purple url('http://ahoia.com/purple-hire-page/images/purple-life-bg.png') 50% 100%;
			background-repeat: repeat-x;
			padding-bottom:4%;

			.hire-wrapper{
				margin-top:2em;

				h4{text-align:left;}

				.left-column{
					p{
						font-size: 1.2em;
					}
				}
			}
		}

		#benefits{
	
		ul{
			max-width:960px;
			margin: 0 auto;
			li{
				width:23.50%;
				margin:1% 2%;
				padding: 44px 35px;
				height:236px;

				p{
 					color:white;
 					position: relative;
 					padding-top:0px;
 				// 	top: 50%;
  			// 		-webkit-transform: translateY(-0%);
  			// 		-ms-transform: translateY(-0%);
					// transform: translateY(-0%);
 				}

				&:hover{

					.benefits-text{
						opacity: 1;

						p{
							padding-top:20px;
		  			// 		-webkit-transform: translateY(-50%);
		  			// 		-ms-transform: translateY(-50%);
							// transform: translateY(-50%);
						}

					}

					.benefits-icon{
						transform: scale(0.2);
					}
					
				}


				&:nth-of-type(2n){
					// background:green;
					margin-right:2%;
				}

				&:nth-of-type(3n){
					// background:Red;
					margin-right:2%;
				}

				&:nth-of-type(1n){
					margin-left:0%;
				}
				&:nth-of-type(4n){
					margin-right:0%;
				}

				.benefits-icon{
					width:150px;
					height:150px;
					background:$l-grey;
					position: absolute;
					left: 50%;
					right: 50%;
					margin-left: -75px;
					border-radius:100%;
				}

				.benefits-text{
					opacity: 0;
					color:white;
					background:$blue;
					top:0;
					left:0;
					height:236px;
					padding:15%;
					position:absolute;
					text-align:center;
				}
			}
		}
	}
}




















